@import './globals/variables';
@import './globals/typos';
@import './globals/buttons';
@import './globals/form';
@import './globals/tags';
@import './globals/alert';
@import './partials/menu';
@import './partials/correction_popup';
@import './partials/stats_popup';
@import './views/exerciseView';
@import './views/setView';
@import './views/profileView';
@import './views/loginView';
@import './views/registerView';
@import './views/browsingView';
@import './views/settingsView';
@import './views/browser';
@import './views/adminView';
@import './views/doc';
@import './views/homeView';
@import './views/createExerciseView';
@import './views/createExercisesSetView';
@import './views/series';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans';
}