@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 1.7em;
}
.title--small {
  font-size: 1.3em;
}

.subtitle {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.button_layout {
  display: flex;
}
.button_layout--center {
  justify-content: center;
}

.button {
  display: block;
  padding: 10px 14px;
  border-radius: 4px;
}
.button--green {
  background-color: green;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  height: 60px;
  width: 80px;
  background-color: red;
}
.nav__right a {
  color: #333;
}
.nav__right__connected {
  display: flex;
  align-items: center;
}
.nav__right__connected p {
  margin-right: 15px;
}
.nav__right__connected .dropdown {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
.nav__right__connected .dropdown__head {
  display: flex;
  align-items: center;
}
.nav__right__connected .dropdown__head .img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
  margin-right: 7px;
}
.nav__right__connected .dropdown .separator {
  height: 1px;
  width: 100%;
  background-color: #333;
}
.nav__right__connected .dropdown__list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #333;
  background-color: white;
  margin-top: 4px;
  min-width: 130px;
  z-index: 100;
}
.nav__right__connected .dropdown__list li a {
  display: block;
  padding: 10px;
}
.nav__right__connected .dropdown.open .dropdown__list {
  display: block;
}

.exercise {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.exercise__top {
  display: flex;
  flex-grow: 1;
}
.exercise__top__subject {
  background-color: lightgray;
  width: 100%;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.exercise__top__subject .description {
  flex-grow: 1;
  margin: 20px 0;
}
.exercise__top__subject .author {
  text-align: right;
}
.exercise__top .CodeMirror {
  flex: 1;
  max-height: 759px;
  height: auto;
}
.exercise__bottom {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.exercise__bottom .feedback li {
  color: red;
  margin-bottom: 5px;
}
.exercise__bottom .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.exercise__bottom .button.button--green {
  background-color: green;
  color: white;
}

.profile {
  display: flex;
  flex-grow: 1;
}
.profile__nav {
  min-width: 200px;
  margin-top: 60px;
}
.profile__nav__list__item {
  padding: 10px;
  cursor: pointer;
}
.profile__nav__list__item:not(.header):hover {
  background-color: #888;
}
.profile__nav__list__item.header {
  background-color: #222;
  color: white;
  cursor: initial;
}
.profile__content {
  flex-grow: 1;
  padding: 60px;
}
.profile__content__head {
  display: flex;
}
.profile__content__head .image {
  height: 200px;
  width: 200px;
  background-color: firebrick;
}
.profile__content__head .infos {
  flex-grow: 1;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.profile__content__head .infos__user .email {
  margin-top: 5px;
}
.profile__content__head .infos__user .exos {
  margin-top: 50px;
}
.profile__content__head .infos__user__id {
  display: flex;
}
.profile__content__head .infos__user__id p:first-child {
  margin-right: 5px;
}
.profile__content__head .infos__socials {
  display: flex;
}
.profile__content__head .infos__socials .icon {
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.profile__content__head .infos__socials .icon:last-of-type {
  margin-right: 0;
}
.profile__content__bottom {
  margin-top: 50px;
}
.profile__content__bottom .series {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}
.profile__content__bottom .series .serie {
  border: 1px solid black;
  padding: 10px;
  display: block;
}
.profile__content__bottom .series .serie .button {
  margin-top: 15px;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans";
}

/*# sourceMappingURL=style.css.map */
