$blue : blue;

.browsing{
    display: flex;
    flex-grow: 1;

    &__languages{
        background-color: whitesmoke;

        .languages{
            li {
                padding: 10px 20px;
                cursor: pointer;

                &.active{
                    background-color: $blue;
                    a{
                        color: white
                    }
                }
            }
        }
    }

    &__exercises{
        padding: 0 20px;
        flex-grow: 1;

        .popular{
            display: flex;
            flex-direction: column;
            &__list{
                display: grid;
                margin-top: 20px;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 20px;
            }
        }
        .searchbar{
            display: flex;
            align-items: center;
            margin-top: 30px;

            .search{
                width: 50%;
            }

            p{
                margin-left: 10px;
            }
        }

        .exercises{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 20px;
            margin-top: 30px;
        }

        .exercise{
            display: block;
            border: 1px solid $blue;
            border-radius: 4px;
            min-height: 100px;
            padding: 5px;
        }
    }
}