$blue : blue;

.browsing{
    display: flex;
    flex-grow: 1;

    .autocomplete {
        position: relative;
        display: inline-block;
        flex-grow: 1;

        &-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;

            div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff; 
                border-bottom: 1px solid #d4d4d4; 

                &:hover {
                    /*when hovering an item:*/
                    background-color: #e9e9e9; 
                  }
            }
        }

        &-active {
            background-color: DodgerBlue !important; 
            color: #ffffff; 
        }
      }
      

    &__languages{
        background-color: whitesmoke;

        .languages{
            li {
                padding: 10px 20px;
                cursor: pointer;

                &.active{
                    background-color: $blue;
                    a{
                        color: white
                    }
                }
            }
        }
    }

    &__exercises{
        padding: 0 20px;
        flex-grow: 1;

        .popular{
            display: flex;
            flex-direction: column;
            &__list{
                display: grid;
                margin-top: 20px;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 20px;
            }
        }
        .searchbar{
            display: flex;
            align-items: center;
            margin-top: 30px;
            position: relative;

            .search{
                width: 100%;
            }

            p{
                margin-left: 10px;
                flex-grow: 1;
            }
        }

        .exercises{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 20px;
            margin-top: 30px;
        }

        .exercise{
            display: block;
            border: 1px solid $blue;
            border-radius: 4px;
            min-height: 100px;
            padding: 5px;
        }
    }
}