.createExoSet__form {

    .form-group {
        #title {
            width:50%;
        }
    }

    #workbench {
         
        #drop_zone { 
            height: 300px;
            display: flex;
            overflow: auto;
            justify-content: center;
            align-items: center;

            .exercise {
                height: 100px;
                width: 300px;
            }
            
            .arrow-right {
                margin: 0 10px;
                height: 64px;
                width: 64px;
            }

            .plus-button {
                height: 64px;
                width: 64px;
            }
        }       
    }
}

.over {
    border: dashed 1px black;
  }