.createExoSet__form {
    .form-group {
        #title {
            width:50%;
            font-size: 1.2em;
        }
        .title {
            margin: 0 auto;
            color: $primary-color;
            margin-bottom: 1em;
        }
        .form-inputs {
            display: flex;
            padding: 10px 0 10px 0;
            justify-content: space-around;
            border-top: 0.05rem solid $primary-color !important;
            border-bottom: 0.05rem solid $primary-color !important;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.25) !important;
            background-color: $background-blue;
        }

        .button{
            font-size: 1.2em;
        }
    }

    #workbench {
        #drop_zone {
            height: 230px;
            display: flex;
            overflow: auto;
            align-items: center;
            margin: 0 15px 0 15px;

            .exercise {
                height: 100px;
                width: 300px;
                flex-shrink: 1;
            }
            
            .delete_arrow {
                height: 46px;
                width: 46px;
                flex-shrink: 1;
                cursor: pointer;
            }

            .arrow_right {
                margin: 0 20px;
                height: 64px;
                width: 64px;
                flex-shrink: 1;
            }

            #plus_button {
                height: 64px;
                width: 64px;
                flex-shrink: 1;
            }
        }

        .setBrowser{
            border-radius: 15px;
            border-right: 0.25rem solid $primary-color !important;
            border-left: 0.25rem solid $primary-color !important;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.25) !important;
            background-color: $background-blue;
            margin: 15px 15px 0 15px;
            padding: 10px;    
            min-height: 225px;
            .browser{
                .searchbar{
                    margin-top: 15px;
                }

                .exercises{
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.over {
    border: dashed 1px $primary-color;
}