.createExoSet__form {

    .form-group {
        #title {
            width:50%;
        }
    }

    #workbench {
         
        #drop_zone {
            height: 300px;
            //background-color: grey;
            .exercise {
                display: inline-block;
            }
            

        }

        
    }
}

.over {
    border: dashed 1px black;
  }