.exercise__opened{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__top{

        display: flex;
        flex-grow: 1;


        &__subject{
            background-color: lightgray;
            width: 100%;
            padding: 15px;
            flex: 1;
            display: flex;
            flex-direction: column;
    
            .description{
                flex-grow: 1;
                margin: 20px 0;
            }
    
            .author{
                text-align: right;
            }
        }
    
        .CodeMirror{
            flex: 1;
            height: auto;
        }
    }

    &__bottom{
        background-color: #333;
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .feedback{
            li{
                &.success{
                    color: green;
                }

                &.fail{
                    color: red;
                }
                margin-bottom: 5px;
            }
        }

        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;

            &.button--green{
                background-color: green;
                color: white;
            }
        }
    }
}