.home{
    .banner{
        height: 300px;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .row{
        display: flex;
        padding: 30px 0;

        &.centered-row{
            background-color: rgb(188, 196, 220);
        }
        
        .column{
            flex-grow: 1;

            .rowImg{
                width: 300px;
                height: 200px;
                margin-right: 10px;

                &-reverse{
                    height: 150px;
                    margin-left: 10px;
                }
            }

            &.x2{
                flex-grow: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-right: 30px;
                margin-left: 15px;

                &-reverse{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-right: 15px;

                    padding-left: 30px;
                    padding-right: 0;
                    align-items: flex-end;
                }
            }

            h2{
                text-align: center;
                font-size: 1.4em;
            }

            h3{
                font-size: 1.3em;
            }

            .button_layout{
                margin-top: 10px;
            }
        }
    }
}