.button_layout{
    display: flex;
    &--center{
        justify-content: center;
    }

    &--right{
        justify-content: flex-end;
    }

    &--between{
        justify-content: space-between;
    }

}


.button{
    display: block;
    outline: none;
    border: 0;
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;

    &--green{
        background-color: green;
        color: white;
    }

    &--white{
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}