{% extends "layouts/master.twig" %}

{% block content %}
        
<div class="browsing">

    <div class="browsing__languages">
        
        <ul class="languages">
            <li class="head">Langues</li>
            {% for language in languages %}
                    <li {{language == locale ? 'class="active"'}}>
                        <a href="{{url}}/exercises/{{language}}">{{language}}</a>
                    </li>
            {% endfor %}
        </ul>
    </div>
    <div class="browsing__exercises">

        <div class="popular">
            <h2 class="title">Les plus populaires</h2>
            <div class="popular__list">
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
            </div>
        </div>
        
        {% include "partials/browser.twig" with tags %}

    </div>

</div>

{% endblock %}

{% block scripts %}
 <script src='/js/search_tag.js'></script>
{% endblock %}
