{% extends "layouts/master.twig" %}

{% block assets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}

{% block content %}
        
<div class="browsing">
    <input type="checkbox" id="navigation" />
    <label for="navigation">+</label>
    <div class="browsing__languages">
        <img src='/images/lang/js.png' id="lang_js">
        <img src='/images/lang/php.png' id="lang_php">
    </div>
    {% if user.type == "teacher" and firsttime %}
        {% include 'partials/instructions.twig' %}
    {% else %}
    <div class="browsing__exercises">
        <div class="popular">
            <h2 class="title"><i class="fa fa-star" aria-hidden="true"></i> Les plus populaires</h2>
            <div class="popular__list">
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
            </div>
        </div>
        <h2 class="title">Tous les exercices :</h2>
        {% include "partials/browser.twig" with tags %}

    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/js/browsing_handler.js'></script>
{% endblock %}