{% extends "layouts/master.twig" %}

{% block content %}
        
<div class="browsing">

    <div class="browsing__languages">
        <img src='/images/lang/js.png' id="lang_js">
        <img src='/images/lang/php.png' id="lang_php">
    </div>
    <div class="browsing__exercises">
        <div class="popular">
            <h2 class="title">Les plus populaires</h2>
            <div class="popular__list">
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
                <a href="#" class="exercise"><p>Nom</p></a>
            </div>
        </div>
        
        {% include "partials/browser.twig" with tags %}

    </div>

</div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/languages_handlers.js"></script>
    <script src='/js/search_tag.js'></script>
{% endblock %}