{% extends "layouts/master.twig" %}

{% block assets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div class="createExoSet">
    {{message}}
    <form method='POST' class='createExoSet__form'>
        <div class="form-group">
            <h1 class="title">Créer une nouvelle série d'exercices</h1>
            
            <input type='hidden' name='exercises_selected' id="exercises_selected">
            <div class="form-inputs">
                <input type='text' name='title' id="title" placeholder="Titre de la série" required>
                <button class="button button--blue" type="submit">Créer la série d'exercice</button>
            </div>
        </div>

        <div id="workbench">
            <div id="drop_zone">
                <img src="/images/plus_button.svg" style="margin: 0 auto" id="plus_button">
            </div>
            
            {% include "partials/browser.twig" with tags %}
            
        </div>
    </form>

</div>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
    <script src='/js/browsing_handler.js'></script>
    <script src='/js/drag_and_drop_handler.js'></script>
{% endblock %}
