{% extends "layouts/master.twig" %}

{% block content %}
<div class="createExoSet">
    {{message}}
    <form method='POST' class='createExoSet__form'>
        <div class="form-group">
            <h1 class="title">Créer une nouvelle série d'exercices</h1>
            <input type='text' name='title' id="title" placeholder="Titre de la série" required>
            <input type='hidden' name='exercises_selected' id="exercises_selected">

            <div class="button_layout button_layout--right">
                <button class="button button--green" type="submit">Créer la série d'exercice</button>
            </div>
        </div>

        <div id="workbench">
            <div id="drop_zone">
                <img src="/images/plus_button.png" id="plus_button">
            </div>
            {% include "partials/browser.twig" with tags %}
        </div>
    </form>

</div>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
    <script src='/js/browsing_handlers.js'></script>
{% endblock %}
