{% extends "layouts/master.twig" %}

{% block content %}
<div class="createExoSet">
    {{message}}
    <form method='POST' class='createExoSet__form' enctype="multipart/form-data">
        <div class="form-group">
            <h1 class="title">Créer une nouvelle série d'exercices</h1>
            <input type='text' name='title' id="title" placeholder="Titre de la série">
            <div class="button_layout button_layout--right">
                <button class="button button--green" type="submit">Créer la série d'exercice</button>
            </div>
        </div>

        <div id="workbench"></div>

        {% include "partials/browser.twig" with tags %}

        
    </form>

</div>
{% endblock %}

{% block scripts %}
 <script src='/js/search_tag.js'></script>
 <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
 <script src='/js/drag_and_drop.js'></script>
{% endblock %}
