{% extends "layouts/master.twig" %}

{% block content %}

<div class="login">
    <h2 class="title">Mot de passe oublié</h2>
    <form action="#">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="form-links">
            <a href="/login">Vous avez un compte ? Connectez vous !</a>
        </div>
        <button class="button button--blue" type="submit">Récupération du mot de passe</button>
    </form>
</div>

{% endblock %}