{% extends "layouts/master.twig" %}

{% block content %}
<div class="home">
    <div class="banner">
        <img src="/images/banner.jpg">
    </div>
    <div class="row">
        <div class="column">
            <h2>Vous êtes étudiants ?</h2>
            <h2>Devenez un meilleur programmeur !</h2>
            <div class='button_layout button_layout--center'>
                <a class="button button--green" href="/register">Démarrer</a>
            </div> 
        </div>
        <div class="column">
            <h2>Vous êtes enseignant ?</h2>
            <h2>Venez partager votre savoir !</h2>
            <div class='button_layout button_layout--center'>
                <a class="button button--white" href="/register_teacher">Partager</a>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="column x2">
            <h3>Des exercices de tous types</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis ante metus, sed mattis eros placerat sed. Praesent id orci vitae dolor dapibus
                dictum. Mauris sed eros eu elit tincidunt posuere. Phasellus ultricies mauris justo, quis viverra purus imperdiet vel. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Aliquam justo dolor, ornare vitae metus sed, egestas accumsan erat. Suspendisse nec nisl sed risus facilisis facilisis 
                vitae in dui. Curabitur vitae efficitur turpis, eu porttitor nulla.</p>
        </div>
        <div class="column">
            <div class="redSquare"></div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="redSquare"></div>
        </div>
        <div class="column x2-reverse">
            <h3>Une correction instantanée</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis ante metus, sed mattis eros placerat sed. Praesent id orci vitae dolor dapibus
                dictum. Mauris sed eros eu elit tincidunt posuere. Phasellus ultricies mauris justo, quis viverra purus imperdiet vel. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Aliquam justo dolor, ornare vitae metus sed, egestas accumsan erat. Suspendisse nec nisl sed risus facilisis facilisis 
                vitae in dui. Curabitur vitae efficitur turpis, eu porttitor nulla.</p>
        </div>
    </div>
</div>
{% endblock %}