{% extends "layouts/master.twig" %}

{% block content %}

<div class="full-page-content">
    <div class="row">
        <img href="#">
        <div class="home-languages">
            <div class="js">
                <img href="#">
                <p>JavaScript</p>
            </div>
            <div class="php">
                <img href="#">
                <p>Php</p>
            </div>
            <div class="java">
                <img href="#">
                <p>Java</p>
            </div>
            <a href="#">Et plus encore ...</a>
        </div>
    </div>
    <div class="row">
        <div class="student-start">
            <p>Vous êtes étudiants ?</p>
            <p>Devenez un meilleur programmeur !</p>
            <a href="RegisterView.html"><button class="btn btn-lg">Démarrer</button></a>
        </div>
        <div class="teacher-start">
            <p>Vous êtes enseignant ?</p>
            <p>Venez partager votre savoir !</p>
            <a href="#"><button class="btn btn-lg">Envoyer une demande d'inscription</button></a>
        </div>
    </div>
    <div class="row">
        <div class="home-exercices">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis ante metus, sed mattis eros placerat sed. Praesent id orci vitae dolor dapibus
                dictum. Mauris sed eros eu elit tincidunt posuere. Phasellus ultricies mauris justo, quis viverra purus imperdiet vel. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Aliquam justo dolor, ornare vitae metus sed, egestas accumsan erat. Suspendisse nec nisl sed risus facilisis facilisis 
                vitae in dui. Curabitur vitae efficitur turpis, eu porttitor nulla.</p>
            <img href="#">
        </div>
    </div>
    <div class="row">
        <div class="home-feedback">
            <img href="#">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis ante metus, sed mattis eros placerat sed. Praesent id orci vitae dolor dapibus
                dictum. Mauris sed eros eu elit tincidunt posuere. Phasellus ultricies mauris justo, quis viverra purus imperdiet vel. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Aliquam justo dolor, ornare vitae metus sed, egestas accumsan erat. Suspendisse nec nisl sed risus facilisis facilisis
                vitae in dui. Curabitur vitae efficitur turpis, eu porttitor nulla.</p>
        </div>
    </div>
</div>

{% endblock %}