{% extends "layouts/master.twig" %}

{% block content %}
<div class='login'>
    <h2 class="title">Connexion</h2>
    <form method='POST'>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password">
        </div>
        <div class='button_layout button_layout--between'>

            <div class="form-links">
                <a class='text--small' href="#">Mot de passe oublié ?</a>
                <a class='text--small' href="/register">Pas encore de compte ?</a>
            </div>
            
            <button class="button button--green" type="submit">Connexion</button>
        </div>
    </form>

    <p class='socials'>Ou se connecter avec :</p>
    <div class='login__socials'>
        <a href="/auth/google" class='box'>
            <img class='icon' src='/images/google.svg'>
        </a>
        <a href="/auth/github" class='box'>
            <img class='icon' src='/images/github-logo.svg'>
        </a>
    </div>
</div>
{% endblock %}