{% extends "layouts/master.twig" %}

{% block content %}
<div class="profile">

    <div class="profile__nav">
        <ul class="profile__nav__list">
            <li class="profile__nav__list__item header">Profile</li>
            <li class="profile__nav__list__item">Mon profile</li>
            <li class="profile__nav__list__item">Historique</li>
        </ul>

        <ul class="profile__nav__list">
            <li class="profile__nav__list__item header">Paramètres</li>
            <li class="profile__nav__list__item">Informations</li>
            <li class="profile__nav__list__item">Mot de passe</li>
            <li class="profile__nav__list__item">Compte</li>
        </ul>
    </div>

    <div class="profile__content">
        <div class="profile__content__head">
            <div class="image"></div>
            <div class="infos">
                <div class="infos__user">
                    <div class="infos__user__id">
                        <p>{{ user.last_name }}</p>
                        <p>{{ user.first_name }}</p>
                    </div>
                    <p class="email">{{ user.email }}</p>
                    <p class="exos">Exercices terminés : 5</p>
                </div>
                <div class="infos__socials">
                    <a href="#" class="icon">
                        <img src="/images/github-logo.svg">
                    </a>   

                    <a href="#" class="icon">
                        <img src="/images/codepen.svg">
                    </a>

                    <a href="#" class="icon">
                        <img src="/images/stack-overflow.svg">
                    </a>
                </div>
            </div>
        </div>

        <div class="profile__content__bottom">
            <h2 class="title">Mes séries en cours</h2>

            <div class="series">
                <a href='#' class="serie">
                    <p class="title--small">Nom de la série</p>
                    <p class="subtitle">auteur</p>
                    <div class="button_layout button_layout--center">
                        <div class="button button--green">Reprendre</div>
                    </div>
                </a>

                <a href='#' class="serie">
                    <p class="title--small">Nom de la série</p>
                    <p class="subtitle">auteur</p>
                    <div class="button_layout button_layout--center">
                        <div class="button button--green">Reprendre</div>
                    </div>
                </a>

                <a href='#' class="serie">
                    <p class="title--small">Nom de la série</p>
                    <p class="subtitle">auteur</p>
                    <div class="button_layout button_layout--center">
                        <div class="button button--green">Reprendre</div>
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>
{% endblock %}