{% extends "layouts/master.twig" %}

{% block content %}
<div class="profile">
    <div class="profile__head">
        <div class="image">
            <img class="logoAccount" src={{user.urlImage}}>
        </div>
        <div class="infos">
            <div class="infos__user">
                <div class="infos__user__id">
                    <p>{{ user.last_name }}</p>
                    <p>{{ user.first_name }}</p>
                </div>
                <p class="email">{{ user.email }}</p>
                {% if user.locale.type == "student" %}
                    <p class="exos">Exercices terminés : 5</p>
                {% else %}
                    <p class="exos">Exercices créés : 23</p>                        
                {% endif %}
            </div>
            <div class="infos__socials">
                <a href="#" class="icon">
                    <img src="/images/github-logo.svg">
                </a>   

                <a href="#" class="icon">
                    <img src="/images/codepen.svg">
                </a>

                <a href="#" class="icon">
                    <img src="/images/stack-overflow.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="profile__series">
        <h2 class="title">Mes séries en cours</h2>

        <div class="series">
            <a href='#' class="serie">
                <p class="title--small">Nom de la série</p>
                <p class="subtitle">auteur</p>
                <div class="button_layout button_layout--center">
                    <div class="button button--green">Reprendre</div>
                </div>
            </a>

            <a href='#' class="serie">
                <p class="title--small">Nom de la série</p>
                <p class="subtitle">auteur</p>
                <div class="button_layout button_layout--center">
                    <div class="button button--green">Reprendre</div>
                </div>
            </a>

            <a href='#' class="serie">
                <p class="title--small">Nom de la série</p>
                <p class="subtitle">auteur</p>
                <div class="button_layout button_layout--center">
                    <div class="button button--green">Reprendre</div>
                </div>
            </a>
        </div>
    </div>


</div>
{% endblock %}