{% extends 'layouts/master.twig' %}

{% block content %}
<div class='register'>
    <h2 class="title">Inscription</h2>
    <form method="POST">
        <div class="form-group">
            <label for="last_name">Nom</label>
            <input type="text" name="last_name" value="{{form[0].last_name}}">
        </div>
        <div class="form-group">
            <label for="first_name">Prénom</label>
            <input type="text" name="first_name" value="{{form[0].first_name}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" value="{{form[0].email}}">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmez le mot de passe</label>
            <input type="password" name="confirm_password">
        </div>
        <div class='button_layout button_layout--between'>
            <button class="button button--green" type="submit">Inscription</button>
        </div>
    </form>   
</div>
{% endblock %}