{% extends "layouts/master.twig" %}

{% block content %}
<div class='register'>
    <h2 class="title">Inscription</h2>
    <form method="POST">
        <div class="form-group">
            <label for="last_name">Nom</label>
            <input type="text" name="last_name">
        </div>
        <div class="form-group">
            <label for="first_name">Prénom</label>
            <input type="text" name="first_name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmez votre mot de passe</label>
            <input type="password" name="confirm_password">
        </div>
        <div class='button_layout button_layout--between'>
            <div class="form-links">
                <a class='text--small' href="LoginView.html">Déjà un compte ? Connectez vous !</a>
            </div>

            <button class="button button--green" type="submit">Inscription</button>
        </div>

        <p class='socials'>Ou se connecter avec :</p>

        <div class='register__socials'>
            <a class='box'>
                <img class='icon' src='/images/google.svg'>
            </a>
            <a class='box'>
                <img class='icon' src='/images/github-logo.svg'>
            </a>
        </div>

    </form>   
</div>
{% endblock %}