{% extends 'layouts/master.twig' %}

{% block content %}
<h2 class="title_series">Les séries d'exercices :</h2>
<div class="all-sets">
    {% for serie in sets %}
    <div class="serie">
        <a href="/sets/{{serie.slug}}">
            <h4 class="set-title">{{serie.title}}</h4>
            <p class="set-author">{{serie.author}}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}