.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &__logo{
        img{
            height: 80px;
        }
    }

    &__middle{
        flex-grow: 1;
        margin-left: 50px;

        &__list{
            display: flex;

            li{
                margin-right: 10px;

                a{
                    padding: 10px 14px;

                    &:hover{
                        border-bottom: 2px solid red;
                    }

                    &.active{
                        border-bottom: 2px solid red;
                    }
                }
            }
        }
    }

    &__right{

        &__item{
            padding: 10px 14px;

            &:hover{
                border-bottom: 2px solid red;
            }

            &.active{
                border-bottom: 2px solid red;
            }
        }
        &__connected{
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.4s;
            padding: 10px;

            &.activ{
                background-color: rgb(228, 228, 228);
                border-radius: 100px;
            }
            
            &:hover{
                background-color: rgb(228, 228, 228);
                border-radius: 100px;
            }

            p{
                margin-right: 15px;
            }

            img{
                height: 45px;
                width: 45px;
                border-radius: 50%;
            }
        }
    }
}