.nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;

    ul{
        list-style: none;
    }

    &__logo{
        img{
            height: 80px;
        }
    }

    &__middle{
        flex-grow: 1;
        margin-left: 50px;

        &__list{
            display: flex;

            li{
                margin-right: 10px;

                a{
                    padding: 10px 14px;

                    i{
                        color:red;
                    }

                    &:hover{
                        border-bottom: 2px solid $primary-color;
                    }

                    &.active{
                        border-bottom: 2px solid $primary-color;
                    }
                }
            }
        }
    }

    &__right{

        &__item{
            padding: 10px 14px;

            &:hover{
                border-bottom: 2px solid $primary-color;
            }

            &.active{
                border-bottom: 2px solid $primary-color;
            }
        }
        &__connected{
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.4s;
            padding: 10px;

            &.activ{                
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(223,239,242,1) 0%, rgba(222,231,247,1) 40%, rgba(155,187,238,1) 100%);
                border-radius: 100px;
            }
            
            &:hover{
                border-radius: 100px;            
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(223,239,242,1) 0%, rgba(222,231,247,1) 40%, rgba(155,187,238,1) 100%);
            }

            p{
                margin-right: 15px;
            }

            img {
                height: 60px;
                border-radius: 40%;
            }
        }
    }
}