<div class="browser">
    <div class="searchbar">
        <div class="autocomplete">
            <select id="searchByTag" class="searchByTag" name="states[]" multiple="multiple">
                {% for tag in tags %}
                    <option value="{{tag}}">{{tag}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="exercises"></div>
</div>