<div class="instructions">
    <h2>Bienvenue sur Coditor ! Apprenez comment publier un exercice ci-dessous !</h2>
    <p>Tout d'abord rendez-vous dans le menu principal et cliquez sur "Créer un exercice".</p>
    <p>Saisissez maintenant le titre ainsi que le langage de programmation ciblé par votre exercice.</p>
    <p>A présent, saisissez les tags qui serviront à la recherche de votre exercice. Plus vos tags seront explicites et simples, plus les étudiants auront de chances de trouvez et de réaliser votre exercice !</p>
    <p>Prenons un moment maintenant pour les fichiers à fournir. Pour pouvoir publier votre exercice il faudra joindre :</p>
    <ul>
        <li>Impérativement un fichier de testes unitaires qui servira à tester le code des étudiants</li>
        <li>De manière optionnelle, un squelette de code à mettre à disposition des étudiants ainsi qu'une éventuelle correction qui passe les testes fournis</li>
    </ul>
    <p>Finalement, écrivez le sujet de l'exercice en toute tranquillité. Vous pouvez même utiliser la syntaxe Markdown !</p>
    <p>Vous souhaitez commencer tout de suite ? Alors allons-y !</p>
    <a href="/profile/create-exercise"><button type="button">Commencer</button></a>
</div>