<nav class="nav">
    <div class="nav__logo">
        <img src='/images/logo.png' >
    </div>
    <div class="nav__right">
    <!-- Si user non connecté-->
        <!-- <a href="#">Se connecter</a> -->
    <!-- Sinon-->
        <div class="nav__right__connected">
            <p>Nom</p>
            <p>Prenom</p>
            <div class="dropdown" id="js-dropdown">
                <div class="dropdown__head" id="js-dropdown-head">
                    <div class="img"></div>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <ul class="dropdown__list">
                    <li><a href="#">Mon profile</a></li>
                    <li><a href="#">Series en cours</a></li>
                    <div class="separator"></div>
                    <li><a href="#">Deconnexion</a></li>   
                </ul>
            </div>
        </div>
    </div>
    <!-- fin si -->
</nav>