<!-- Popup correction -->
<div id="popupCorrection" class="correction">
    <div class="correction-content">
        <span class="close">&times;</span>
            {# If correction exist, print it #}
        <textarea name="function" id="js-correction" cols="30" rows="10">{{correctionText ?:"Aucune correction proposée."}}</textarea>
    </div>
</div>
